
.header {
	position: absolute;
	
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	@media (max-width: 767.98px) {
		padding: 5px 0px 0px 0px;;
	}
	// .header__container

	&__container {
		display: flex;
		align-items: center;
		min-height: 100px;
		
		@media (max-width: 767.98px) {
			min-height: 50px;
		}
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 2;
		
		@media (max-width: 767.98px) {
			img {
				max-width: 100%;
			}
			
		}
		@media (max-width: 479.98px) {
			margin: 0px 85px 0px 0px;
		}
		img {
			//max-width: 100%;
		}
	}

	// .header__name

	&__name {
	}

	// .header__title

	&__title {
	}

	// .header__subtitle

	&__subtitle {
	}

	// .header__menu

	&__menu {
		flex: 1 1 auto;
	}

	// .header__actions

	&__actions {
	}
}


.menu {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
	
	// .menu__body
	&__body {
		@media (max-width: 1199.98px) {	
			position: fixed;
			background-color: rgba(3, 17, 95, 0.95);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 110px 0px 20px 0px;
			overflow: auto;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			&:after {
				content: "";
				background-color: #03115F;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100px; // по высоте шапки
				@media (max-width: 479.98px) {
					height: 60px;
				}
			}
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: 479.98px) {
			padding: 90px 0px 20px 0px;
		}
	}

	// .menu__list
	&__list {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		@media (max-width: 1199.98px) {
			
		}
		@media (max-width: 1199.98px) {
			display: block;
			text-align: center;
			justify-content: center;
			li {
				margin: 0px 0px 30px 0px;
				&:last-child{
					margin: 0;
				}
			}
		}
	}

	// .menu__item

	&__item {
		margin: 3px 32px 3px 0px;
		&:last-child {
			margin-right: 0px;
		}
		@media (max-width: 991.98px) {
			margin: 3px 16px 3px 16px;
		}
	}

	// .menu__link

	&__link {
		display: block;
		font-weight: 325;
		font-size: 16px;
		line-height: calc(19px/16px * 100%);
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #DDDDE2;
		@media (max-width: 991.98px) {
			font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (992 - 320)));
		}
	
		@media (max-width: 1199.98px) {
			font-size: 24px;
			display: inline-block;
		}
	}
}

.actions-header {
	flex: 0 0 125px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	@media (max-width: 1200.98px) {
		display: none;
	}
	@media (max-width: 991.98px) {
		display: none;
	}
	// .actions-header__region
	&__region {
		margin: 0px 24px 0px 0px;
		position: relative;
		z-index: 2;
		&::after {
			content: "";
			width: 48px;
			height: 2px;
			background-color: #989AA9;
			position: absolute;
			top: 50%;
			transform: rotate(-90deg);	
		}
		@media (max-width: 991.98px) {
			margin: 0px 16px 0px 0px;
		}
	}

	// .actions-header__search
	&__search {
		
	}
}

.icon-menu {
	display: none;
	@media (max-width: 1199.98px) {
		display: block;
		position: absolute; // поменяли на relative/absolute;
		//top: 41px; // с 18 на 0
		right: 30px; // с 10 на 0
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 10%; // 2px
			background-color: #EEEFF1;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top:calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

/*
.search {
	//background-color: red;
	border-radius: 40px;
	overflow: hidden;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	//transition: 0.7s;
	
	// .search__input
	&__input {
		border: none;
		background: none;
		outline: none;
		font-size: 18px;
		transition: 0.5s;
		background-color: #03115F;
		input {
			
		}
	}

	// .search__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: green;
		border-radius: 50%;
	}
	&.active {
		width: 240px;
		justify-content: flex-end;
	}
}
*/
/*
.search {
	position: relative;
	overflow: hidden;
	width: 48px;
	height: 48px;
	background-color: transparent;
	transition: 0.5s;
	

	// .search__icon
	&__icon {
		position: absolute;
		z-index: 1000;
		top: 50%;
		left: 24px;
		content: url("../img/header/search.svg");
		cursor: pointer;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .search__input
	&__input {
		
		position: relative;
		width: 300px;
		height: 48px;
		left: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		input {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			font-size: 18px;
			padding: 10px 0px;
		}
		
	}

	// .search__clear
	&__clear {
		content: url(../img/faq/plus.svg);
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%) rotate(-45deg);
		cursor: pointer;
		
	}

	&.active {
		background-color: #fff;
		width: 360px;
		
	}

}
*/

.search {
	display: flex;
	align-items: center;
	width: 60px;
	height: 60px;
	position: relative;
	border-radius: 60px;
	transition: 0.5s;
	background: transparent;
	// .search__input
	&__input {
	}

	// .search__icon
	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		
		border-radius: 50%;
		background-color: transparent;
		z-index: 100;
		cursor: pointer;
	}
	
}
