.swiper-button-prev::after,
.swiper-button-next::after {
	color: #000;
	
	
}

.swiper-pagination {

}

.swiper-pagination-bullet {
	width: 20px ;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color: #000;
}

/* Фракция */
.swiper-pagination-fraction {
	font-size: 20px;
	color: red;
	// для вывода прогрессбара и фракции одновременно
	padding: 10px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color:#000;
}

.image-slider__sepparator {
	margin: 0 15px;
}

/* Прогрессбар */
.swiper-pagination-progressbar-fill {
	background-color: red !important; 
}

/* Скролл */
.swiper-scrollbar-drag {
	cursor: pointer;
	background-color: red !important;
	 
}

/* Автоширина */

.swiper-slide {
	//width: auto;
}

/* Мультирядность */
/*
.works__container {
	height: 700px; // помещаем в блок с высотой
}

.swiper-slide {
	height: calc((100% - 30px) / 2); // 2 - количество рядов, - 30px - spaceBetween
	overflow: hidden;
}
*/

/* Вертикальный слайдер */
.works__container {

}

/* Эффект куб */
.works__container {
	//width: 500px;
}


/* Миниатюры (превью) */
/*
.image-mini-slider {

	// .image-mini-slider__wrapper
	&__wrapper {
	}

	// .image-mini-slider__slide

	&__slide {
		opacity: 0.2;
		transition: opacity 0.3s ease 0s;
		
	}
	.image-mini-slider__slide.swiper-slide-thumb-active {
		opacity: 1;
	}

	// .image-mini-slider__image

	&__image {
		position: relative;
		padding: 0px 0px 30% 0px;
		cursor: pointer;
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
*/

/* Слайдер в слайдере */
/*
.image-in-slider {
	height: 450px;
}

.image-in-slider__slide{
	height: 450px;
}

.image-in-slider__image {
	img {
		max-width: 100%;
	}
}
*/

